header
  .container
    .intro-text
      img.intro-logo(ng-src="images/druplicon.large_.png")
      .intro-lead-in Presenting India's!
      .intro-heading Largest Hackathon
    .row(ng-show='!currentUser.profile.slug')
      .col-md-6.col-sm-6.col-xs-12.joinButtons
        button.btn.btn-lg.regButton(ng-click='register()') Register
      .col-md-6.col-sm-6.col-xs-12.joinButtons
        button.btn.btn-lg.createJoinButton(ng-click='teams()') Create/Join Team
    .row(ng-show='currentUser.profile.slug')
      .col-md-12.col-sm-12.col-xs-12.joinButtons
        button.btn.btn-lg.createJoinButton(ng-click='teams()') Create/Join Team
  .overlay
footer
  .container
    .row
      .col-md-4
        span.copyright Copyright © codejedi.io 2014
      .col-md-4
        ul.list-inline.social-buttons
          li
            a(href='#', socialshare='', socialshare-provider='twitter', socialshare-url='http://codejedi.io/drupal-hack')
              i.fa.fa-twitter
          li
            a(href='#', socialshare='', socialshare-provider='facebook', socialshare-url='http://codejedi.io/drupal-hack')
              i.fa.fa-facebook
          li
            a(href='#', socialshare='', socialshare-provider='google+', socialshare-url='http://codejedi.io/drupal-hack')
              i.fa.fa-google-plus
