header
  .container
    .intro-text
      img.intro-logo(ng-src="images/codegurukul.png")
      span 
        | and
      img.intro-logo(ng-src="images/startupmitra_light.svg")
      .intro-lead-in Presents
      .intro-heading MangloreHack
      p [Campus Edition]
      span at
      .intro-lead-in Kanara Chamber of Commerce & Industry
      span on
      .intro-lead-in 26th and 27th September 2015
    .row(ng-show='!currentUser.profile.slug')
      .col-md-6.col-sm-6.col-xs-12.joinButtons
        button.btn.btn-lg.regButton(ng-click='register()') Register
      .col-md-6.col-sm-6.col-xs-12.joinButtons
        button.btn.btn-lg.createJoinButton(ng-click='teams()') Create/Join Team
    .row(ng-show='currentUser.profile.slug')
      .col-md-12.col-sm-12.col-xs-12.joinButtons
        button.btn.btn-lg.createJoinButton(ng-click='teams()') Create/Join Team
  .overlay

// About Section
section#schedule
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading MangloreHack [Campus Hack]
        h3.section-subheading.text-muted Manglore's Largest Campus Hackathon.
    .row
      .col-md-12
        p.text-muted
          | In the context of a hackathon, the word "hack" is used to describe how multiple technologies can be used together 
          | in a new and innovative way. Teams of up to four people spend the weekend working on innovative software and hardware 
          | solutions to real-world problems. These projects range in platform and application, including elements of web development, 
          | mobile applications, drones, and more. However, many times the most important aspect of a hackathon is the community it 
          | generates and skills that inexperienced hackers walk away with.
          | Mangalore Hack CampusHack aims to federate the next generation of hackers for the Mangalore innovation community.
          | Co-organized by Codegurukul and Startup Mitra, and with a board of advisors which includes educators, technologists, and entrepreneurs, 
          | Mangalore Hack CampusHack organizes the Fellows program and student ‘hackathons’ during the school year in order to create 
          | and empower a community of student-technologists.
          | Mangalore Hack CampusHack organizes once-a-semester campus ‘hackathons': 24-hour coding events in which Mangalore startups present their technologies and students build original applications based on them. Winning teams have presented at the Codegurukul Meetup. Sign up for the Mangalore Hack news for announcements about how to get involved and visit our Hackathon page.


// Schedule Section
section#schedule
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Schedule
    .row
      table(border='0', cellpadding='0', cellspacing='0')
        tbody
          tr.days
            th
            |                                     
            th Day One
            |                                     
            th 
            |                                     
            th Day Two
          |                                 
          tr
            td.time 11:00 - 12:00 am
            |                                     
            td.cs335.orange(data-tooltip='Register on our online tool') Registration
            |                                     
            td.time 00:00 - 5:00 am
            |                                     
            td.cs240.orange(data-tooltip='The Hackathon continues') Hackathon
          |                                 
          tr
            td.time 12:00 - 3:00 pm
            |                                     
            td.cs335.blue Hackathon starts
            |                                     
            td.time 5:00 - 6:00 am
            |                                     
            td.md352.green(data-tooltip='Recharge and GO!') High Tea
          |                                 
          tr
            td.time 3:00 - 4:00 pm
            |                                     
            td.cs426.green(data-tooltip='Food') Meal
            |                                     
            td.time 6:00 - 9:00 am
            |                                     
            td.md352.blue(data-tooltip='The final hours') Hackathon
          |                                 
          tr
            td.time 4:00 - 8:00 pm
            |                                     
            td.md352.blue Hackathon continues
            |                                     
            td.time 9:00 - 10:00 am
            |                                     
            td.cs240.green Breakfast
          |                                 
          tr
            td.time 8:00 - 9:00 pm
            |                                     
            td.md303.green(data-tooltip='Recharge') Tea/Coffee and mini-meal
            |                                     
            td.time 10:00 - 12:00 am
            |                                     
            td.cs240.blue(data-tooltip='Almost there ...') Hackathon
          |                                 
          tr
            td.time 9:00 - 12:00 pm
            |                                     
            td.md313.blue(data-tooltip='Hack away!') Hackathon
            |                                     
            td.time 12:00 - 1:30 pm
            |                                     
            td.cs426.purple(data-tooltip="It's judgement time!") Project presentation
          |                                 
          tr
            td.time 12:00 - 1:00 am
            |                                     
            td.md313.green Mid-night meal
            |                                     
            td.time 2:00 pm
            |                                     
            td.md313.red(data-tooltip='Bye!') The End
          |                                 
          tr
            td.time 10:00 - 12:00 pm
            |                                     
            td.md313.blue(data-tooltip='Hack all night') Hackathon
            

// Clients Aside
aside.clients
  .container
    .row
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(ng-src='images/startupmitra.png', alt='GDG')
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(ng-src='images/kcci.jpg', alt='KCCI')
      .col-md-3.col-sm-6
        a(href='#')
          img.img-responsive.img-centered(ng-src='images/gdg.svg', alt='StartupMitra')
      .col-md-3.col-sm-6
        a(href='http://codegurukul.com')
          img.img-responsive.img-centered(ng-src='images/codegurukul.png', alt='Codegurukul')

section#map
  .container
    .row
      .col-lg-12
        div#map-canvas

footer
  .container
    .row
      .col-md-4
        span.copyright Copyright © codegurukul.com 2015
      .col-md-4
        ul.list-inline.social-buttons
          li
            a(href='#', socialshare='', socialshare-provider='twitter', socialshare-text='Join MangloreHack! Follow us @codegurukul')
              i.fa.fa-twitter
          li
            a(href='#', socialshare='', socialshare-provider='facebook', socialshare-url='http://manglorehack.com')
              i.fa.fa-facebook
          li
            a(href='#', socialshare='', socialshare-provider='google+', socialshare-url='http://manglorehack.com')
              i.fa.fa-google-plus
